<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
		<section name="appConfig" type="MyApp.AppConfig, MyApp" />
		<sectionGroup name="ajaxNet">
			<!--
                If you are using Microsoft .NET 1.1 please remove the two attributes
                requirePermission and restartOnExternalChanges, they are only supported
                with .NET 2.0.
            -->
			<section name="ajaxSettings" type="AjaxPro.AjaxSettingsSectionHandler,AjaxPro.2" requirePermission="false" restartOnExternalChanges="true" />
		</sectionGroup>
    
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>

  </configSections> 
  
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="level" value="DEBUG" />
        <arg key="dateTimeFormat" value="HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>
  
  
	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		  <file value="LogFiles\FIS_Report_log" />
		  <appendToFile value="true" />
		  <rollingStyle value="Composite" />
		  <maxSizeRollBackups value="10" />
		  <maximumFileSize value="500KB" />
		  <staticLogFileName value="false" />
		  <datePattern value="yyyyMMdd" />
		  <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date %L %level %logger - %message%newline" />
			</layout>
		</appender>
		<appender name="AspNetTraceAppender" type="log4net.Appender.AspNetTraceAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingFileAppender" />
			<appender-ref ref="AspNetTraceAppender" />
		</root>
	</log4net> 
	
  
	<ajaxNet>
		<ajaxSettings>
			<urlNamespaceMappings useAssemblyQualifiedName="false" allowListOnly="false">
				<!--
                    Set the attribute useAssemblyQualifiedName to true to enable
                    use of assemblies placed in the GAC by using the full assembly
                    qualified name.
                
                    To hide internal knowledge of assemblies, classes and namespace
                    you can override the name of the virtual http endpoints.
                    
                    <add type="Namespace.Class1,Assembly" path="mypath" />
                -->
			</urlNamespaceMappings>
			<jsonConverters includeTypeProperty="true">
				<!--
                    This section can be used to add new IJavaScriptConverters to the
                    Ajax.NET Professional engine. If you want to disable built-in
                    converters you can use the remove tag.
            
                    <remove type="Namespace.Class1,Assembly"/>
                    <add type="Namespace.Class2,Assembly"/>
                    
                    <add type="AjaxPro.BitmapConverter,AjaxPro.2" mimeType="image/jpeg" quality="100"/>
                -->
			</jsonConverters>
			<!--
                Set the enabled attribute to true to get Stack, TargetSize and Source 
                information if an exception has been thrown.
            -->
			<debug enabled="false" />
			<!--
                This is the default configuration used with Ajax.NET Professional. You
                can put there your static JavaScript files, or remove the path attribute
                to completly disable the files.
            
                <scriptReplacements>
                    <file name="prototype" path="~/ajaxpro/prototype.ashx" />
                    <file name="core" path="~/ajaxpro/core.ashx" />
                    <file name="converter" path="~/ajaxpro/converter.ashx" />
                </scriptReplacements>
            -->
			<!-- <encryption cryptType="" keyType="" /> -->
			<!--
                Set the enabled attribute to true to enable the use of an Ajax.NET Professional
                token. This will send a token to the client that will be used to identify if the
                requests comes from the same PC.
            -->
			<token enabled="false" sitePassword="password" />
			<!--
                The oldStyle section can be used to enable old styled JavaScript code or
                functions that are not used any more.
            
                <configuration>
                    <objectExtendPrototype/>
                    <appCodeQualifiedFullName/>
                    <allowNumberBooleanAsString/>
                    <sessionStateDefaultNone/>
                    <includeMsPrototype/>
                    <renderDateTimeAsString/>
                    <noUtcTime/>
                    <renderJsonCompliant/>
                    <useSimpleObjectNaming/>
                </configuration>
            -->
		</ajaxSettings>
	</ajaxNet>

  

  <!-- This section contains the log4net configuration settings -->
  <dataConfiguration defaultDatabase="ConStr" />
  <connectionStrings>
    <!--<add name="ConStr" connectionString="server=192.168.147.6,998;database=HPLabelTemplateDB;uid=IMES2011;pwd=11111111" providerName="System.Data.SqlClient" />-->
<add name="ConStr" connectionString="server=10.96.183.192;database=TSBLabelTemplate;uid=imes2012;pwd=iccfis=123" providerName="System.Data.SqlClient" />
    <!--add name="ConStr" connectionString="server=itc-eb1;database=labelTemplateDB;uid=sa;pwd=66666666" providerName="System.Data.SqlClient"/-->
    
  </connectionStrings>
  
	<!-- Common ASP.NET configuration -->
	<system.web>
		<httpHandlers>
			<add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2" />
		</httpHandlers>
		<!--<httpModules>           
       <add name="AuthenticateModule" type="com.inventec.system.module.AuthenticateModule"/>        
    </httpModules>-->
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
			<!--<buildProviders>
				<add extension=".asax" type="System.Web.Compilation.PageBuildProvider"/>
			</buildProviders>-->
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
		<sessionState mode="InProc" cookieless="false" timeout="120" />
		<!--<authentication mode="Forms">
			<forms loginUrl="Logon.aspx" name=".ASPXFORMSAUTH"
             timeout="1"
             slidingExpiration="true">

      </forms>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>-->
    
    
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages theme="MainTheme" validateRequest="true">
			<controls>
				<add tagPrefix="fis" tagName="header" src="~/webroot/commonaspx/header.ascx" />
				<add tagPrefix="fis" tagName="footer" src="~/webroot/commonaspx/footer.ascx" />
				<!--<add tagPrefix="ControlVendor" assembly="ControlVendorAssembly"/>-->
			</controls>
		</pages>
        <authentication mode="Windows" />
        <identity impersonate="false" />
        <roleManager enabled="true" />
	</system.web>
  <appSettings>
    <add key="printEngineAdress" value="tcp://127.0.0.1:8502/LabelManager" />
    <add key="SqlTimeOut" value="600" />
    <add key="200DpiPrinterName" value="ZDesigner 105SL 203DPI" />
    <add key="300DpiPrinterName" value="ZDesigner 105SL 300DPI" />
    <add key="600DpiPrinterName" value="ZDesigner 110XiIII Plus 600DPI" />
    <add key="1200DpiPrinterName" value="ZDesigner 110XiIII Plus 600DPI" />    
    <add key="200DpiPrinterBaseWidth" value="0.125 " />
    <add key="300DpiPrinterBaseWidth" value="0.083 " />
    <add key="600DpiPrinterBaseWidth" value="0.042" />
    <add key="1200DpiPrinterBaseWidth" value="0.021" />    
    <add key="ScreenBaseWidth" value="0.265" />
    <!--Template Setting Page,Config DPI,use "," as seperator  -->
    <add key="DPI" value="200,300,600,1200" />
  </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="LOGON.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
