<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="MsgMapping"    type="TAP.MsgMappingSection, TAPService"/>
  </configSections>
  <appSettings>
    <add key="ServiceName" value="IMES.TAP.ICT.2700" />
    <add key="Port" value="2700" />
    <add key="MaxMsgSize" value="2048" />
    <add key="MaxReceivedSize" value="2048" />
    <add key="MaxConnectionNum" value="20" />
    <add key="KeepAliveInterval" value="5000" />
    <!-- log 設置  -->
    <add key="LogPath" value=".\Log" />
    <add key="LogPreFixName" value="Server" />
    <add key="ConnectLogPath" value=".\Log" />
    <add key="ConnectLogPreFixName" value="Connect" />
    <add key="ErrorLogPath" value=".\Log\" />
    <add key="ErrorLogPreFixName" value="Error" />   
    <add key="CustomerId" value="HP" />
  </appSettings>
  <connectionStrings>
    <add name="DbConnectionString" connectionString="Data Source=10.99.183.65;Initial Catalog=HPIMES;Persist Security Info=True;User ID=imes;Password=imes;MultipleActiveResultSets=True;" />
  </connectionStrings>

  <!-- IsolationLevel:
                                  Serializable = 0,        
                                  RepeatableRead = 1,       
                                  ReadCommitted = 2,       
                                  ReadUncommitted = 3,       
                                  Snapshot = 4,       
                                   Chaos = 5,      
                                   Unspecified = 6,
           TxnTimeOut:   unit is minute, default value 2minute
    -->
  <MsgMapping AssemblyName=".\ICTBizRule.dll"   
                          IsolationLevel="2" 
                          TxnTimeOut="2" 
                          IsNeedDB="N"  
                          IsNeedTxn="N">    
    <Mapping MsgName="Check_WC" ClassName="BizRule.Activity.CheckWC">
		<Parameter RemoteSrvIP="127.0.0.1" RemoteSrvPort="8700" RemoteURL="" />
	</Mapping>
    
    <Mapping MsgName="Test_Completed" ClassName="BizRule.Activity.TestCompleted">    	
      <Parameter RemoteSrvIP="127.0.0.1" RemoteSrvPort="8700" RemoteURL="" />
    </Mapping>                        
    
    
  </MsgMapping>
  
</configuration>