<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="RollingLogFileAppender"  type="log4net.Appender.RollingFileAppender">
      <file value="./log/logfile" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyy-MM-dd'.log'" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="1MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!-- Print the date in ISO 8601 format -->
        <conversionPattern value="%date [%-5level] [%logger] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="Console"/>
    </root>
  </log4net>
  
  <appSettings>
      
    <add key="LocalSN2POFolder" value="D:\CDSI\Sn2po\" />
	<add key="LocalMAILBOXFolder" value="D:\CDSI\Mailbox\" />
	  <add key="LocalResultFolder" value="D:\CDSI\Result\" />
	  
	  
    <!--<add key="CDSISN2POFolder" value="\\10.99.183.50\Sn2po\" />
	<add key="CDSIMAILBOXFolder" value="\\10.99.183.50\fsm_com\Mailbox\" />
	<add key="CDSIResultFolder" value="\\10.99.183.50\fsm_com\Clients\" />-->

	  <add key="CDSISN2POFolder" value="D:\CDSI\CDSIServer\Sn2po\" />
	  <add key="CDSIMAILBOXFolder" value="D:\CDSI\CDSIServer\fsm_com\Mailbox\" />
	  <add key="CDSIResultFolder" value="D:\CDSI\CDSIServer\fsm_com\Clients\" />

	  <add key="CDSIDomain"  value=""/>
	  <add key="CDSIServerUser"  value=""/>
	  <add key="CDSIServerPassword"  value=""/>
	  
    <!--<add key ="IMGServerFolder" value="\\192.168.152.248\shellxml\" />-->
	  <add key="IMGServerFolder"  value="D:\CDSI\IMGServer\shellxml\" />
	  <add key="IMGDomain"  value=""/>
	<add key="IMGServerUser"  value=""/>
	<add key="IMGServerPassword"  value=""/>

	  <add key="OffSetDay"  value="-180"/>
       
	  <!--CDSI Comand TimeInterval unit is second -->
	  <add key="CDSICmdInterval"  value="10"/>
	  
	 
	  <!--Auto Assign  PO & Delivery ShiDate offSet Day-->
	  <add key="AutoAssignPO"  value="1"/>
	  <add key="ShipDateOffSetDay"  value="10"/>

    <!--系統log file設置 -->
    <add key="LogPath" value="D:\CDSI\\LOG\" />
    <add key="LogPreFixName" value="CDSI_" />
    <!-- 設置 Mail server -->
    <add key="MailServer" value="ics-mx03.ies.inventec" />
    <add key="FromAddress" value="ies_agent@inventec.com" />
    <!--傳給多人以隔開;-->
    <add key="ToAddress" value="" />
    <add key="CcAddress" value="" />
    <add key="MailSubject" value="[CDSI] " />

  </appSettings>
  <connectionStrings>
    <!--<add name="DBConnection" connectionString="Data Source=10.99.183.111,998;Initial Catalog=MBU_iMES;Persist Security Info=True;User ID=ssis;Password=ssisbear2006;MultipleActiveResultSets=True;"	/>-->
    <add name="DBConnection" connectionString="Data Source=10.96.183.192;Initial Catalog=HPIMES;Persist Security Info=True;User ID=sa;Password=icc=123;MultipleActiveResultSets=True;" />
	  <add name="CDSIDBConnection" connectionString="Data Source=10.99.183.50;Initial Catalog=CDSI_SHELL;Persist Security Info=True;User ID=FactUser;Password=Pwd4Shopfloor-09!;MultipleActiveResultSets=True;" />
    <!--   
		<add name="DBConnection" connectionString="Data Source=10.99.183.111,998\IMESTEST;Initial Catalog=MBU_iMES;Integrated Security=SSPI;MultipleActiveResultSets=True" />
  -->
  </connectionStrings>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UPSPrimaryService" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536000" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>        
      </basicHttpBinding>
    </bindings>
    <client>
      
      <endpoint address="http://10.96.3.35:81/UPSATRP/UPS_ATRP.asmx"
        binding="basicHttpBinding" bindingConfiguration="UPSPrimaryService"
        contract="UPSWS.ATRPSoap" name="UPS" />
     
    </client>
  </system.serviceModel>
</configuration>