@CHARSET "UTF-8";

body { margin: 0px;border:0px;background-color: white; }
.dialogBody{margin: 5px;background-color: rgb(231,240,247);}
table {width:100%;font:normal normal normal 9pt Verdana;border-collapse:collapse;border:0 outset;}
table.title { background-color: rgb(156,192,248);width:100%;height:22px;font:normal normal bold 9pt Verdana;border-collapse:collapse;border:1 outset;}
table.thead { background-image: url('../../images/tHead.jpg');width:100%;height:25px;font: normal  normal bold 9pt "Verdana" ;color:white; }
fieldset{position:relative; top:6px;width:100%;background-color: rgb(231,240,247);  margin-left:10px; margin-right:10px;padding-bottom:3pt;padding-left:5pt;padding-right:5pt;}
*html legend {margin: -10px 0 0 0;position:relative;font-size:12pt;} 
button {font:normal normal normal 9pt Verdana;client-left:2cm;width:60px;height:22px;cursor:hand}
/*TD {border-color:lightslategray}*/


.title { background-color: rgb(156,192,248);height:22px;font:normal normal bold 9pt Verdana;width:100%;FILTER: progid:DXImageTransform.Microsoft.Alpha( style=3,opacity=25,finishOpacity=100);}
.content{ background-color: rgb(231,240,247);width:100%;font:normal normal normal 9pt Verdana;border-collapse:collapse }