<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
		</sectionGroup>
	</configSections>
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
				<arg key="showLogName" value="true"/>
				<arg key="showDataTime" value="true"/>
				<arg key="level" value="ERROR"/>
				<arg key="dateTimeFormat" value="HH:mm:ss:fff"/>
			</factoryAdapter>
		</logging>
	</common>
	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="LogFiles\FIS_PrintEngine_log" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="500KB" />
			<staticLogFileName value="false" />
			<datePattern value="yyyyMMdd" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date %L %level %logger - %message%newline"/>
			</layout>
		</appender>
		<appender name="AspNetTraceAppender" type="log4net.Appender.AspNetTraceAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level %logger - %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="error" />
			<appender-ref ref="RollingFileAppender"/>
			<appender-ref ref="AspNetTraceAppender"/>
		</root>
	</log4net>
	<appSettings>
		<add key="PrintEngine.Remoting.ForPrintingRoom.AppPort" value="8085" />
		<add key="PrintEngine.Remoting.ForLine.AppPort" value="8503" />
		<add key="PrintEngine.Remoting.ForPageEdit.AppPort" value="8502" /> 		
		<add key="SqlTimeOut" value="600"/>
	</appSettings>
</configuration>