<?xml version="1.0"?>
<configuration>
  <appSettings>

	  <!--Get Special_Det.Udt  offset day_-->
	  <add key ="OffSetDay" value="-180"/>
       
	  <!--AssignedPOCmdInterval Comand TimeInterval unit is second -->
	  <add key ="AssignedPOCmdInterval" value="0"/>
	  
	 
	  <!--Auto Assign  PO & Delivery ShiDate offSet Day-->	  
	  <add key ="ShipDateOffSetDay" value="10"/>

	  <!--Check Delivery.Qty is no same as Special_order.Qty Value:Y/N-->
	  <add key="CheckQty" value="N"/>
    
   
    <!-- IMES Remote Service object URL-->
    <add key ="IMESService.OnlineGenerateAST" value="FA" />
    <!--FA service address -->
    <add key="FAAddress" value="127.0.0.1"/>
    <!--SA service port-->
    <add key="FAPort" value="8018"/>
   
    <!--系統log file設置 -->
    <add key="LogPath" value="D:\CDSI\\LOG\" />
    <add key="LogPreFixName" value="CDSI_" />
    <!-- 設置 Mail server -->
    <add key="MailServer" value="ics-mx03.ies.inventec" />
    <add key="FromAddress" value="ies_agent@inventec.com" />
    <!--傳給多人以隔開;-->
    <add key="ToAddress" value="" />
    <add key="CcAddress" value="" />
    <add key="MailSubject" value="[CNRS] " />

  </appSettings>
  <connectionStrings>
    <!--<add name="DBConnection" connectionString="Data Source=10.99.183.111,998;Initial Catalog=MBU_iMES;Persist Security Info=True;User ID=ssis;Password=ssisbear2006;MultipleActiveResultSets=True;"	/>-->
    <add name="DBConnection" connectionString="Data Source=10.99.183.65;Initial Catalog=HPIMES;Persist Security Info=True;User ID=IMES2011;Password=11111111;MultipleActiveResultSets=True;"	/>
	 
    <!--   
		<add name="DBConnection" connectionString="Data Source=10.99.183.111,998\IMESTEST;Initial Catalog=MBU_iMES;Integrated Security=SSPI;MultipleActiveResultSets=True" />
  -->
  </connectionStrings>

</configuration>